body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 100px 20px 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.nav-links {
    margin-top: 20px;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 10px;
}

#contact {
    width: 100%;
    padding: 1rem;
}

.horizontal-line {
    width: 95%;
    height: 1px;
    background-color: #ddd;
    margin: 2rem auto;
}

.footer-components {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    flex-wrap: wrap;
}

.footer-column {
    gap:0.5rem;
    text-align: center;
    flex: 1;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.footer-column li {
    display: inline-block;  /* Ensures items flow in line */
}

.icon {
    width: 18px;
    height: auto;
    margin-right: 9px;
}

.icon:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.main-section {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.main-section h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}